<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Adamplansky Official" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Adamplansky Official" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <main role="main">
       <%= yield %>
    </main>
    
    <footer>
      <a href="http://jedemedobaru.cz/" class="jedemedobaru">JEDEMEDOBARU.CZ</a><br>
     
      <a href="http://luciekepplova.cz/">luciekepplova.cz</a>
      <a href="http://tomasbrincil.cz/">tomasbrincil.cz</a>
       <a href="http://jurastransky.cz/">jurastransky.cz</a>
    </footer>
    
  </body>
</html>
